* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
}

.bricklayer {
  margin: 10px 5px;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  color: rgba(255, 255, 255, .6);
  margin-bottom: 10px;
  -webkit-animation-duration: .3s;
  animation-duration: .3s;
  min-height: 150px;
}

.box.is-append {
  -webkit-animation-name: animAppend, animFade;
  animation-name: animAppend, animFade;
}

.box.is-prepend {
  -webkit-animation-name: animPrepend, animFade;
  animation-name: animPrepend, animFade;
}

@-webkit-keyframes animAppend {
  from {
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes animAppend {
  from {
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@-webkit-keyframes animPrepend {
  from {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes animPrepend {
  from {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@-webkit-keyframes animFade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes animFade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.buttons {
  z-index: 1;
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 20px 30px;
  background-color: black;
}

.buttons button {
  background-color: white;
  color: black;
  border: 0;
  padding: 5px 10px;
}
