$column-gutter: 10px;

.bricklayer {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;

  &-column-sizer {
    width: 100%;
    display: none;

    @media screen and (min-width: 640px) {
      width: 50%;
    }

    @media screen and (min-width: 980px) {
      width: 33.333%;
    }

    @media screen and (min-width: 1200px) {
      width: 25%;
    }

  }

  &-column {
    flex: 1;
    padding-left: $column-gutter / 2;
    padding-right: $column-gutter / 2;
  }

}